[Unit]
Description=nextcloud
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/nextcloud
Restart=on-failure
RestartSec=5s
LimitNOFILE=65535:65535

[Install]
WantedBy=multi-user.target
