snippet note "Add note for presentation" i
\note{${1}}
${2}
endsnippet

snippet lstin "Insert a listing from a file"
\lstinputlisting[caption=${1:${VISUAL:caption}},label=lst:${2:${1/\\\w+\{(.*?)\}|\\(.)|(\w+)|([^\w\\]+)/(?4:_:\L$1$2$3\E)/ga}}]{${3:name.ext}}

$0
endsnippet

global !p
def fix_indent(snip):
	vim.eval('feedkeys("\<c-f>")')
endglobal

post_expand "fix_indent(snip)"
snippet it "Individual item" b
\item $0
endsnippet
