snippet fn "[public] fun()"
${2:public} ${1:function}(${3})${4/.+/: /}${4} {
	${0}
}
endsnippet

snippet exp "export class"
export ${1:class} ${2:ClassName} {
	${3:constructor($4) {$5}}
}
endsnippet

snippet pub "public attribute"
public ${1:name}${2/.+/: /}${2:string}
endsnippet

snippet pr "private attribute"
private ${1:name}${2/.+/: /}${2:string}
endsnippet
